/production
/local.properties

## Copied assets
/tests/assets/core
/tests/tests-android/src/main/assets

## IntelliJ and Android
/tests/tests-android/src/main/jniLibs/*/libgdx.so
/tests/tests-android/gen/
.idea/
*.iml
.gradle/
build/

## OS Specific
.DS_Store
Thumbs.db